@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Varela+Round&display=swap');
@media only screen and (max-width: 450px) { td { height: 2.5em; } }
@supports not (background-blend-mode: luminosity) {
 td.catch { opacity: 0.3; }
 tr.caught td.catch { opacity: 1; }
}

html {
  font-size: 14px;
  background: #f3ebbd;
  background-image: url("/img/critters.png");
  background-position-x: -18px;
  background-attachment: fixed;
}
body { font-family: 'Varela Round', sans-serif; text-align:center;}
a { color:#43abb4; transition: 0.2s all; }
a:hover {color: #24d5e6; }

.dashboard { padding: 1em 0; display: flex;  flex-wrap: wrap; justify-content: space-around; align-items: center; margin:auto; max-width:800px; }
@supports not (-ms-ime-align: auto) { .dashboard { justify-content: space-evenly } }
.legend { order:2; display:table; margin-top: 5px; border-spacing: 0 2px; }
.legend div { display:table-row; }
.legend span { display:table-cell; border: 1px solid #f7cc64; border-radius: 15px; }
#catchToggle { width: 64px; height: 64px; cursor: pointer;}
#catchToggle div{
  height: 64px;
  width: 64px;
  background-size: cover;
  background-position: center;
  position: absolute;
  border-radius: 20px;
}
#catchToggle div.insect { clip-path: polygon(0 0, 100% 0, 0 100%); }
#catchToggle div.fish { clip-path: polygon(100% 100%, 100% 0, 0 100%); }
#catchToggle.hide div { background-blend-mode: luminosity; background-color: #f3ebbd; }
#hemisphere {order:1; height:64px; width:64px; cursor: pointer; border-radius: 20px;}

.available { display: flex;  flex-wrap: wrap; justify-content: center; }
.critter {padding: 5px 10px;}
.critter h2 {
    color: #4d5447;
    padding: 4px 16px;
    background: #f7cc64;
    border-radius: 20px;
    margin: 2px 0;
    text-align: center;
    letter-spacing: 2px;
}

/* Time Bar */
.timebar {
    display: flex;
    color: white;
    font-size: 0.8em;
}
.timeframe {
    text-align: center;
    padding: 8px;
    width: 100%;
    border-radius: 20px;
}
.now {
    box-shadow: 0px 0px 2px 5px lightgreen inset;
    animation: pulse 2s infinite;
    animation-timing-function: linear;
}
.morning { background-color: #783f04; }
.day { background-color: #7f6000; }
.lateday { background-color: #696800; }
.earlyevening { background-color: #1c4587; }
.evening { background-color: #073763; }
.night { background-color: #20124d; }
@keyframes pulse {
  50% { box-shadow: 0 0 8px 5px #00ff00 inset; }
}

/* Available Table */
table { width:100%; border-spacing: 0px 2px;}
th, td, .legend span { background-color: #f4f8e2; padding: 5px 10px; }
th { color: white; background-color: #5a5040; font-weight: bold; text-align: left; letter-spacing: 1px; }
table.hideCatch th:nth-child(4), table.showCatch th:nth-child(5) { cursor: help; }
th:first-child, td:first-child { border-radius: 10px 0 0 10px; }
th:last-child, td:last-child { border-radius: 0 10px 10px 0; }
td { text-align: left; border-top: 1px solid #f7cc64; border-bottom: 1px solid #f7cc64; }
td:first-child { border-left: 1px solid #f7cc64; }
td:last-child { border-right: 1px solid #f7cc64; }

table.showCatch td:nth-child(3) { text-align:right; }
table.showCatch td:nth-child(5), table.catch th:nth-child(5) { text-align: center; }

table.hideCatch td:nth-child(2) { text-align:right; }
table.hideCatch td:nth-child(4), table.nocatch th:nth-child(4) { text-align: center; }

.lastchanceTime td, div.lastchanceTime span { background-color: gold; }
.lastchanceMonth td, div.lastchanceMonth span { font-weight: bolder; color:#b50000; }

td.catch { width: 0.5em; cursor: pointer; background-size: cover; background-color: #f4f8e2; background-blend-mode: luminosity; background-position-y: center; }
#Fish td.catch, .fish { background-image: url('/img/stampFish.png');}
#Insect td.catch, .insect {background-image: url('/img/stampInsect.png'); background-position: center;}
tr.caught td { color:lightslategray; }
tr.caught td.catch { background-blend-mode: unset; }


/* Clock */
#acClock {
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 30px;
  cursor: default;
}
#acClock hr {
  margin: 0;
  border-style: solid;
  color: white; /* Firefox is trash */
}
.time {
  font-size: 2.5em;
  letter-spacing: 2px;
}
.time span {
  font-size:0.7em;
  letter-spacing: 0px;
}
.date {
  font-size: 1.5em;
  margin-top: 7px;
}
.date span {
  background-color: white;
  border-radius: 15px;
  padding: 2px 8px;
}
#acClock.morning .date span { color: #783f04; }
#acClock.day .date span { color: #7f6000; }
#acClock.lateday .date span { color: #696800; }
#acClock.earlyevening .date span { color: #1c4587; }
#acClock.evening .date span { color: #073763; }
#acClock.night .date span { color: #20124d; }

.footer { font-family:'Raleway', sans-serif;font-size:small;color:darkslategray;font-weight: bold; }