@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Varela+Round&display=swap');
html {
  font-size: 14px;
  background: #f3ebbd;
  background-image: url("/img/critters.png");
}
body { font-family: 'Varela Round', sans-serif; text-align:center;}

.dashboard {padding-top:1em; display: flex;  flex-wrap: wrap; justify-content: space-evenly; align-items: center; margin:auto; max-width:800px; }

.legend { order:2; display:table; margin-top: 5px; border-spacing: 0 2px; }
.legend div { display:table-row; }
.legend span { display:table-cell; border: 1px solid #f7cc64; border-radius: 15px; }
.hemisphere {order:1; height:64px; width:64px; cursor: pointer; border-radius: 20px;}

.available { display: flex;  flex-wrap: wrap; justify-content: center; }
.critter {padding: 5px 10px;}
.critter h2 {
    color: #4d5447;
    padding: 4px 16px;
    background: #f7cc64;
    border-radius: 20px;
    margin: 2px 0;
    text-align: center;
    letter-spacing: 2px;
}

/* Time Bar */
.timebar {
    display: flex;
    color: white;
    font-size: 0.8em;
}
.timeframe {
    text-align: center;
    padding: 8px;
    width: 100%;
    border-radius: 20px;
}
.now {
    box-shadow: 0px 0px 2px 5px lightgreen inset;
    animation: pulse 2s infinite;
    animation-timing-function: linear;
}
.morning { background-color: #783f04; }
.day { background-color: #7f6000; }
.lateday { background-color: #696800; }
.earlyevening { background-color: #1c4587; }
.evening { background-color: #073763; }
.night { background-color: #20124d; }
@keyframes pulse {
  50% { box-shadow: 0 0 8px 5px #00ff00 inset; }
}

/* Available Table */
table { width:100%; border-spacing: 0px 2px;}
tbody tr, .legend div { background-color: #f4f8e2; }
th, td, .legend span { padding: 5px 10px; }
th { color: white; background-color: #5a5040; font-weight: bold; text-align: left; letter-spacing: 1px; }
th:first-child, td:first-child { border-radius: 10px 0 0 10px; }
th:last-child, td:last-child { border-radius: 0 10px 10px 0; }
td { text-align: left; border-top: 1px solid #f7cc64; border-bottom: 1px solid #f7cc64; }
td:first-child { border-left: 1px solid #f7cc64; }
td:last-child { border-right: 1px solid #f7cc64; }

td:nth-child(2) { text-align:right; }
td:nth-child(4), th:nth-child(4) { text-align: center; }

tr.lastchanceTime, div.lastchanceTime { background-color: gold; }
tr.lastchanceMonth, .lastchanceMonth { font-weight: bolder; color:#b50000; }

/* Clock */
#acClock {
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 30px;
}
#acClock hr {
  margin: 0;
  border-style: solid;
}
.time {
  font-size: 2.5em;
  letter-spacing: 2px;
}
.time span {
  font-size:0.7em;
  letter-spacing: 0px;
}
.date {
  font-size: 1.5em;
  margin-top: 7px;
}
.date span {
  background-color: white;
  border-radius: 15px;
  padding: 2px 8px;
}
#acClock.morning .date span { color: #783f04; }
#acClock.day .date span { color: #7f6000; }
#acClock.lateday .date span { color: #696800; }
#acClock.earlyevening .date span { color: #1c4587; }
#acClock.evening .date span { color: #073763; }
#acClock.night .date span { color: #20124d; }

.footer { font-size:small;color:darkslategray;font-weight: bold; }